#export(lmridge, rstats1, hatr, vif)

exportPattern("^[[:alpha:]]+")

S3method(coef, lmridge)
S3method(rstats1, lmridge)
S3method(rstats2, lmridge)
S3method(summary, lmridge)
S3method(kest, lmridge)
S3method(vif, lmridge)
S3method(vcov, lmridge)
S3method(infocr, lmridge)
S3method(fitted, lmridge)
S3method(press, lmridge)
S3method(predict, lmridge)
S3method(plot, lmridge)
S3method(residuals, lmridge)
S3method(lmridge, default)
S3method(hatr, lmridge)
S3method(print, lmridge)
S3method(print, klmridge)
S3method(print, summary.lmridge)
S3method(print, rstats1)
S3method(print, rstats2)

importFrom("graphics", "legend", "matplot", "mtext", "par", "plot", "text")
importFrom("stats", ".checkMFClasses", "coef", "delete.response",
             "lm.fit", "median", "model.frame", "model.matrix",
             "model.response", "na.pass", "pnorm", "printCoefmat",
             "resid", "var", "vcov", "pt", "pf")
importFrom("stats", "residuals")

